* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    color: #111;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    font-weight: normal;
}

/* Typography */
h1, h2, h3, h4,
.h1, .h2, .h3, .h4 {
    margin: 0.67em 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.1em;
}

h1, .h1 {
    color: #1E5078;
    font-size: 1.8em;
}

h2, .h2 {
    font-size: 1.6em;
}

h3, .h3 {
    font-size: 1.2em;
}

p {
    margin: 0 0 1em;
    padding: 0;
    line-height: 1.5em;
}

a {
    display: inline-block;
    margin: 0 -0.35ex;
    padding: 0 0.35ex;
    color: #1E5078;
    font-weight: bold;
}
    a:hover {
        background: #97b3db;
        margin: -0.1em -0.25ex -0.15em;
        padding: 0.1em 0.25ex 0.15em;
        text-decoration: none;
        border-radius: 2px;
    }

ul {
    padding: 0 0 0 1.5em;
    margin: 0;
    list-style: disc outside;
}
    ul > li {
        margin: 0.5em 0;
        padding: 0 0 0 0.25em;
    }

code {
    font-family: 'Fira Code', monospace;
}

@media (min-width: 1024px) {
    .columns {
        column-gap: 5ex;
    }
    .columns.two {
        columns: 2;
    }
    .columns.three {
        columns: 3;
    }
}

.center {
    text-align: center;
}

strong, .strong {
    font-weight: bold;
}

/* Buttons */
button,
.button,
a.button {
    display: block;
    background: #f6f6f6;
    margin: 1em auto;
    padding: 0.9em 1em 1em;
    color: #1E5078;
    text-align: center;
    text-decoration: none;
    line-height: 1em;
    border-radius: 3px;
    border: 1px solid #e1e1e1;
}
button,
.button:hover,
a.button:hover {
    background: #f0f0f0;
}
    button.primary,
    .button.primary,
    a.button.primary {
        background: #1E5078;
        color: #e1f3f8;
        border-color: #113d61;
    }
    button.primary:hover,
    .button.primary:hover,
    a.button.primary:hover {
        background: #3f698b;
    }

@media (min-width: 768px) {
    button,
    .button,
    a.button {
        display: inline-block;
        margin: 0 1em;
    }
}

/* Images */
img.inline {
    display: inline-block;
}

img.flexible {
    display: block;
    max-width: 90%;
    margin: 0 auto;
}

img.stretch {
    display: block;
    width: 90%;
    margin: 0 auto;
}

img.shadow {
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
}

img.rounded {
    border-radius: 3px;
}

@media (min-width: 768px) {
    img.flexible {
        max-width: 100%;
    }

    img.stretch {
        width: 100%;
    }
}

/* Alerts */
.alert {
    display: block;
    background: #f6f6f6;
    padding: 0.5em 0;
    border-bottom: 1px solid #e1e1e1;
}
    .alert.warning {
        background: #ffbb63;
        border-bottom: 1px solid #bd935d;
    }
    .alert > p {
        width: 90vw;
        margin: 0 auto;
    }

@media (min-width: 768px) {
    .alert > p {
        width: 66vw;
        max-width: 1024px;
    }
}

/* Photino logo */
.photino-logo {
    display: block;
    width: 80vw;
    max-width: 400px;
    margin: 0 auto;
}

/* Hero */
.hero {
    padding: 2em 0 3em;
}
    .hero > .hero-title {
        margin: 0 0 0.3em;
        font-size: 2em;
        line-height: 1.5em;
    }
    .hero > .hero-subtitle {
        margin: 0 0 1em;
        font-size: 1.2em;
        line-height: 1.5em;
    }

/* Cross Platform Chrome */

.cross-platform-chrome img.left,
.cross-platform-chrome img.right {
    display: none;
}

@media (min-width: 1024px) {
    .cross-platform-chrome {
        height: 40vh;
        min-height: 400px;
        max-height: 550px;
        position: relative;
    }
        .cross-platform-chrome img {
            height: 100%;
            margin: 0 auto;
        }
        .cross-platform-chrome img.top {
            position: relative;
            z-index: 10;
        }
        .cross-platform-chrome img.left,
        .cross-platform-chrome img.right {
            display: block;
            height: 80%;
            position: absolute;
            top: 15%;
            left: 0;
            z-index: 0;
        }
        .cross-platform-chrome img.right {
            left: auto;
            right: 0%;
        }
}

/* Grid */
.grid {
    display: flex;
    flex-direction: column;
}
    .grid > .grid-item {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        margin: 1em 0;
    }
    .grid > .grid-item.align-center {
        justify-content: center;
    }

    .grid > .grid-item.grid-order-xs-1 {
        order: 1;
    }
    .grid > .grid-item.grid-order-xs-2 {
        order: 2;
    }

@media (min-width: 768px) {
    .grid {
        flex-direction: row;
    }
        .grid > .grid-item {
            margin: 0 1em;
        }
        .grid > .grid-item.align-center {
            justify-content: center;
        }
        .grid.margin-lg > .grid-item {
            margin: 0 2em;
        }
        
        .grid > .grid-item.grid-order-xs-1 {
            order: unset;
        }
        .grid > .grid-item.grid-order-xs-2 {
            order: unset;
        }
}

/* Terminal */
.terminal {
    overflow: auto;
    display: block;
    background: #2B2E3B;
    margin: 2em 0;
    padding: 0.25em 1em;
    color: #97DDEC;
    border-radius: 3px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
}
    .terminal > div {
        margin: 1em 0;
        white-space: nowrap;
    }

/* Bar Graphs */
@keyframes bar-grow {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.graph {
    overflow: hidden;
    background: #f6f6f6;
    max-width: 100%;
    padding: 1.5em 2em 2em;
    border-radius: 3px;
}
    .graph .title {
        width: 100%;
        font-weight: bold;
        text-align: center;
    }

    .graph .groups {
        width: 100%;
        position: relative;
    }

    .graph .groups .group {
        border-bottom: 1px dashed #ccc;
        margin: 0 0 1em;
        padding: 1em 0 0;
        position: relative;
    }
    .graph .groups .group *:first-child:not(.bar) {
        display: block;
        width: 100%;
    }

        .graph .groups .group::before,
        .graph .groups .group::after {
            display: block;
            height: 1em;
            color: #999;
            font-size: 0.65em;
            content: attr(data-min) " " attr(data-unit);
            position: absolute;
            bottom: -1.5em;
            left: 0;
        }
        .graph .groups .group::after {
            content: attr(data-max) " " attr(data-unit);
            left: auto;
            right: 0;
        }

    .graph .groups .group .bar {
        overflow: visible;
        display: block;
        background: #e1e1e1;
        height: 1.5em;
        margin: 2em 0 0.5em 0;
        line-height: 1.3em;
        border-radius: 0 3px 3px 0;
        position: relative;
        animation: bar-grow 1s linear;
    }
        .graph .groups .group .bar::before {
            display: block;
            content: attr(data-label);
            font-size: 0.8em;
            white-space: nowrap;
            position: absolute;
            top: -2em;
        }
        .graph .groups .group .bar::after {
            display: inline-block;
            content: attr(data-value) " " attr(data-unit);
            width: 100%;
            margin-left: calc(100% + 0.5em);
            white-space: nowrap;
        }

        .graph .groups .group .bar.blue {
            background: #1E5078;
        }
        .graph .groups .group .bar.error {
            background: red;
        }
        .graph .groups .group .bar.error::after {
            content: "No value available";
            text-align: left;
            margin: 0 0 0 1em;
        }

@media (min-width: 1200px) {
    .graph .groups .group + .group {
        padding-top: 0em;
    }
    .graph .groups .group *:first-child:not(.bar) {
        text-align: right;
        margin-left: calc(-100% - 0.8em);
    }
        .graph .groups .group .bar {
            margin-top: 0.5em;
        }
            .graph .groups .group .bar::before {
                display: inline-block;
                text-align: right;
                right: calc(100% + 1em);
                top: auto;
            }
}

#app {
    display: flex;
    flex-direction: column;
}

#app section {
    flex: 0 0 100%;
    padding: 2em 0 3em;
}
    #app section > div {
        width: 90vw;
        margin: 0 auto;
    }
        #app section > div p {
            max-width: 100ex;
            margin-left: auto;
            margin-right: auto;
        }

    #app section.bg-grey {
        background: #f6f6f6;
        border-top: 1px solid #e1e1e1;
        border-bottom: 1px solid #e1e1e1;
    }
    #app section.bg-blue {
        background: #e7f1ff;
        border-top: 1px solid #c5d4f0;
        border-bottom: 1px solid #c5d4f0;
    }
    #app section:not([class*="bg-"]) + section:not([class*="bg-"]),
    #app section.bg-grey + section.bg-grey,
    #app section.bg-blue + section.bg-blue {
        margin-top: -2em;
        padding-top: 0;
    }
    #app section[class*="bg-"]:not(.bg-transparent) + section[class*="bg-"] {
        border-top: none;
    }

@media (min-width: 768px) {
    #app section > div {
        width: 66vw;
        max-width: 1024px;
    }
}

/* Intro */

/* Hightlights */

/* Get Started */

/* About Photino */

/* How does Photino work? */

/* Photino for .NET */
#photino-dotnet img {
    height: 100px;
    margin: 1em 1em 0;
}

/* Photino vs. Electron */
#photino-vs-electron .grid:last-of-type {
    margin-bottom: 2em;
}

@media (min-width: 768px) {
    #photino-vs-electron .grid {
        margin-top: 3em;
    }

    #photino-vs-electron .grid:last-of-type {
        margin-bottom: 3em;
    }
}

@media (min-width: 768px) {
    #download-size-graph,
    #memory-use-graph {
        min-width: 300px;
    }
}

@media (min-width: 1200px) {
    #download-size-graph,
    #memory-use-graph {
        min-width: 500px;
    }

    #download-size-graph .groups .group {
        margin-left: 200px;
    }
    #memory-use-graph .groups .group {
        margin-left: 150px;
    }
}

/* What's next */
#whats-next .grid-item {
    text-align: center;
}

@media (min-width: 1024px) {
    #whats-next .grid {
        max-width: 50%;
        margin: 0 auto;
    }
    #whats-next .grid-item {
        text-align: left;
    }
}